<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="css/styles.css")
        link(rel="stylesheet", href="css/questions.css")
    body
        main    
            .main__form
                form(action="/cleanliness" method="post")
                    input(type="text" name="cleanliness_target" placeholder="터치 후 선택" list="cleanlinessList" required="true")
                    h3 에서
                    datalist(id="cleanlinessList")
                        option(value="화장실")
                        option(value="그릇")
                        option(value="수저")
                        option(value="의자")
                        option(value="탁자")
                    input(type="submit", value="클릭하고 상품 받아가세요!!")
            .main__input
                h3 에서 어떤 문제가 있었는지<br> 한줄로 간단하게 적어주세요!
                textarea(name="cleanliness_message", cols="40", rows="2" required="true" placeholder="터치 후 여기에 적어주세요")

	

