<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
        link(rel="stylesheet", href="css/styles.css")
        link(rel="stylesheet", href="css/questions.css")
        title Document
    body
        main
            .main__form
                form(action="/mainMenu" method="post")
                    input(type="text" name="mainMenu_target" placeholder="터치 후 선택" list="mainMenuList" required="true" )
                    h3 에서
                    datalist(id="mainMenuList")
                        option(value="탕수육")
                        option(value="꿔바로우")
                        option(value="칠리새우")
                        option(value="볶음밥")
                        option(value="짜장면")
                    input(type="submit", value="클릭하고 상품 받아가세요!!")
            .main__input
                h3 어떤 문제가 있었는지<br> 한줄로 간단하게 적어주세요!
                textarea(name="mainMenu_message", cols="40", rows="2" required="true")

	

