<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        header
            h1 어디에 문제가 있으셨나요?
        main
            div.main__container
                div.container__startQuestioncol
                    a(href="/mainMenu")
                        h3 메인메뉴에 문제가 있었어요
                div.container__startQuestioncol
                    a(href="/sideMenu")
                        h3 메인메뉴 외 음식,음료에서 <br>문제가 있었어요(반찬 포함)
                div.container__startQuestioncol
                    a(href="/services")
                        h3 서비스에 문제가 있었어요
                div.container__startQuestioncol
                    a(href="/cleanliness")
                        h3 청결도에 문제가 있었어요


