<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="css/styles.css")
        link(rel="stylesheet", href="css/questions.css")
    body
        main    
            .main__form
                form(action="/services" method="post")
                    input(type="text" name="services_target" placeholder="터치 후 선택" list="servicesList" required="true" class="selectInput")
                    h4 에서
                    h3 어떤 문제가 있었는지 <br>한줄로 간단하게 적어주세요!
                    textarea(name="services_message", cols="40", rows="2" required="true" placeholder="터치 후 여기에 적어주세요",class="textInput")
                    input(type="submit", value="클릭하고 상품 받아가세요!!" class="submitInput")
                    datalist(id="servicesList")
                        option(value="사장님")
                        option(value="결제해주시는 분")
                        option(value="알바생")

	

