<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
        link(href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="css/styles.css")
        link(rel="stylesheet", href="css/questions.css")
        title Document
    body
        main
            .main__form
                form(action="/mainMenu" method="post")
                    <select name="mainMenu_target" class="selectInput" required='true'>
                        <option value=>터치 후 선택</option>
                        <option value="특선초밥정식 ₩15,000">특선초밥정식 ₩15,000</option>
                        <option value="커플세트 ₩34,000">커플세트 ₩34,000</option>
                        <option value="오늘의초밥 ₩12,000">오늘의초밥 ₩12,000</option>
                        <option value="생연어초밥(10ps)+튀김 ₩15,000">생연어초밥(10ps)+튀김 ₩15,000</option>
                        <option value="광어(5ps)+생연어(5ps)+튀김 ₩15,000">광어(5ps)+생연어(5ps)+튀김 ₩15,000</option>
                        <option value="생새우or새우초밥(10ps) ₩15,000 ">생새우or새우초밥(10ps) ₩15,000</option>
                        <option value="돈까스 ₩10,000">돈까스 ₩10,000</option>
                        <option value="심플런치 ₩8000">심플런치 ₩8000</option>
                        <option value="나가사끼짬뽕+초밥+고로케 ₩15,000">나가사끼짬뽕+초밥+고로케 ₩15,000</option>
                        <option value="사시미&스시세트 ₩23,000">사시미&스시세트 ₩23,000</option>
                        <option value="회덮밥 ₩10,000">회덮밥 ₩10,000</option>
                        <option value="우동 ₩6,000">우동 ₩6,000</option>
                        <option value="냉모밀 ₩7,000">냉모밀 ₩7,000</option>
                        <option value="미니사시미(추가메뉴) ₩20,000">미니사시미(추가메뉴) ₩20,000</option>
                        <option value="사시미세트 ₩50,000">사시미세트 ₩50,000</option>
                        <option value="스페셜사시미 ₩100,000">스페셜사시미 ₩100,000</option>
                        <option value="민물장어구이 ₩30,000">민물장어구이 ₩30,000</option>
                        <option value="새우튀김(7ps) ₩20,000">새우튀김(7ps) ₩20,000</option>
                        <option value="연어샐러드 ₩15,000">연어샐러드 ₩15,000</option>
                        <option value="광어초밥(10ps)+튀김 ₩15,000">광어초밥(10ps)+튀김 ₩15,000</option>
                        <option value="소고기불초밥(10ps)+튀김 ₩18,000">소고기불초밥(10ps)+튀김 ₩18,000</option>
                        <option value="광어(2ps) ₩3,000">광어(2ps) ₩3,000</option>
                        <option value="생연어(2ps) ₩3,000">생연어(2ps) ₩3,000</option>
                        <option value="소고기(2ps) ₩4,000">소고기(2ps) ₩4,000</option>
                        <option value="생연어아부리(2ps) ₩3,000">생연어아부리(2ps) ₩3,000</option>
                        <option value="생새우(2ps) ₩3,000">생새우(2ps) ₩3,000</option>
                        <option value="초새우(2ps) ₩3,000">초새우(2ps) ₩3,000</option>
                        <option value="전복장(2ps) ₩6,000">전복장(2ps) ₩6,000</option>
                        <option value="민물장어(2ps) ₩4,000">민물장어(2ps) ₩4,000</option>
                        <option value="메카(2ps) ₩4,000">메카(2ps) ₩4,000</option>
                        <option value="빅아이(2ps) ₩4,000">빅아이(2ps) ₩4,000</option>
                        <option value="엔가와(2ps) ₩4,000">엔가와(2ps) ₩4,000</option>
                        <option value="새우장(2ps) ₩4,000">새우장(2ps) ₩4,000</option>
                        <option value="데마끼(2ps) ₩3,000">데마끼(2ps) ₩3,000</option>
                        <option value=""></option>
                    </select>
                    h4 에서
                    h3 어떤 문제가 있었는지<br> 한줄로 간단하게 적어주세요!
                    textarea(name="mainMenu_message", cols="40", rows="2" required="true" placeholder="  터치 후 여기에 적어주세요" class="textInput")
                    
                    input(type="submit" ,value="클릭하고 상품 받아가세요!!" class="submitInput")

	

