<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
        title Document
        link(href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="css/styles.css")
        link(rel="stylesheet", href="css/questions.css")
    body
        main
            .main__form
                form(action="/sideMenu" method="post")
                    <select name="sideMenu_target" class="selectInput" required='true'>
                        <option value="">터치 후 선택</option>
                        <option value="일식고로케">일식고로케</option>
                        <option value="새우튀김(2ps)">새우튀김(2ps)</option>
                        <option value="세트 속 샐러드">세트 속 샐러드</option>
                        <option value="연어샐러드 ₩15,000">연어샐러드 ₩15,000</option>
                        <option value="세트 속 단호박 죽">세트 속 단호박 죽</option>
                        <option value="세트 속 모밀">세트 속 모밀</option>
                        <option value="세트 속 우동">세트 속 우동</option>
                        <option value="생강절임">생강절임</option>
                        <option value="물">물</option>
                        <option value="각종 주류">각종 주류</option>
                        <option value=""></option>
                    </select>
                    h4 에서
                    h3 어떤 문제가 있었는지<br> 한줄로 간단하게 적어주세요!
                    textarea(name="sideMenu_message", cols="40", rows="2" required="true" placeholder="  터치 후 여기에 적어주세요",class="textInput" minlength='7')
                    input(type="submit", value="클릭하고 상품 받아가세요!!" class="submitInput")

	

