<!DOCTYPE html>
html(lang="en")
    head
        link(rel="stylesheet", href="css/thankyouPage.css")
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        h1 리뷰 남겨주셔서 감사합니다. 사장님께 보여드리고 보상을 받아가세요!