html {
  background: rgb(236, 233, 230);
  background: linear-gradient(
    0deg,
    rgba(236, 233, 230, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  color: black;
}
.main__form {
  height: 93vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main__form h4 {
  display: inline-block;
  font-size: 30px;
}

.selectInput {
  width: 150px;
  margin-right: 5px;
  height: 50px;
  background-color: lightgray;
  border: none;
  border-radius: 10px;
  padding: 0 5px;
  margin-bottom: 5px;
  font-family: "Jua", sans-serif;
}
.selectInput:focus {
  outline-color: cadetblue;
}
.selectInput:placeholder-shown {
  font-weight: bolder;
  font-family: "Jua", sans-serif;
  font-size: 20px;
}

h3 {
  font-size: 30px;
}

.textInput {
  margin-top: 30px;
  width: 100%;
  font-size: 15px;
  font-family: "Jua", sans-serif;
  border: none;
  background-color: lightgray;
  height: 50px;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 5 10px;
}
.textInput:placeholder-shown {
  font-weight: bolder;
  font-family: "Jua", sans-serif;
  font-size: 20px;
}

.textInput:focus {
  outline-color: cadetblue;
}
.submitInput {
  color: black;
  box-shadow: 0px 11px 9px 0px rgba(190, 191, 194, 1);
  width: 100%;
  border: none;
  height: 50px;
  background-color: cornflowerblue;
  border-radius: 15px;
}
.submitInput[type="submit"] {
  font-family: "Jua", sans-serif;
  font-size: 20px;
}
